<!DOCTYPE html>

<html>


<head>
    <title>about</title>
    <link rel = "stylesheet" href = "/css/styles.css">

</head>


<body>
<div class = "main-content">

    
{{>header}}
 <img class = "portrait" src = "/img/Newton Gavin.jpg">
 <p>this is my weather app, my first project on node.js it uses api dat from mapbox.com and darksky.net 
     to take in the location you give to find out the weather
 </p>

</div>

{{>footer}}





</body>










</html>