<!DOCTYPE html>

<html>


<head>
    <title>about</title>
    <link rel = "stylesheet" href = "/css/styles.css">

</head>


<body>
<div class = "main-content">

    
{{>header}}
 <img class = "portrait" src = "/img/Newton Gavin.jpg">

</div>

{{>footer}}





</body>










</html>