<!DOCTYPE html>

<html>

<head>
    <title>weather</title >
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel = "icon" href = "/img/weather.png">
    

</head>



<body>
    <div class = "main-content">
    {{>header}}
    <p> use this site to get your weather </p>

    <form>
        <input placeholder= 'Location'>
        <button >Search</button>
    </form>
    <p id = "message-one">

    </p>
    <p id = "message-two"></p>
    <p id = "message-two-a"></p>
    </div>

    {{>footer}}
    <script src = "/js/app.js"> </script>
</body>







</html>